<div *ngIf="form" [formGroup]="form">
  <div class="timeline-settings" ngClass.gt-sm="p-32" ngClass.sm="p-16" ngClass.xs="p-16">
    <div class="overview-exp-header mb-32">
      <h3 class="mb-0 font-size-18 ml-20 inter-bold body-title text-uppercase">Opening Hours</h3>
    </div>

    <div formArrayName="OpeningTimes">
      <div class="mb-24" fxLayout="row" fxLayoutGap="12px">
        <div
          (click)="setDayAvailability(i)"
          *ngFor="let slot of OpeningTimes.controls; let i = index"
          [formGroupName]="i"
          class="mb-24"
          fxLayout="row"
          fxLayoutGap="12px"
        >
          <div
            [class.single-day-selected]="this.form.controls['OpeningTimes'].get([i])?.get('Open')?.value"
            class="single-day"
          >
            <p class="mb-0 font-size-14 roboto-regular">{{ days[i].Name.charAt(0) }}</p>
          </div>
        </div>
      </div>
      <div>
        <div fxFlexAlign="column">
          <div *ngFor="let openingHoursForm of OpeningTimes.controls; let i = index" [formGroupName]="i">
            <div
              *ngIf="this.form.controls['OpeningTimes'].get([i])?.get('Open')?.value"
              class="mb-16"
              fxLayout="row"
              fxLayoutAlign="start start"
              fxLayoutGap="32px"
            >
              <div fxFlex="15%">
                <div class="day-name">
                  <p class="font-size-14 inter-semi-bold accent-text-2 mb-0">{{ days[i].Name }}</p>
                </div>
              </div>
              <div fxFlex="55%">
                <div fxLayout="row">
                  <div
                    class="o-h-t-content"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="1px"
                  >
                    <div class="opening-hour-time">
                      <div appearance="fill" class="w-100-p">
                        <select formControlName="From1" required value="01:00">
                          <option *ngFor="let opt of times" [value]="opt">{{
                            opt
                            }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="opening-h-to">
                      <p class="mb-0">to</p>
                    </div>
                    <div class="opening-hour-time">
                      <div appearance="fill" class="w-100-p">
                        <select formControlName="To1" required>
                          <ng-container *ngFor="let opt of times">
                            <option *ngIf="form.controls['OpeningTimes'].get([i])?.get('From1')?.value < opt"
                                    [value]="opt">
                              <div>{{opt}}</div>
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </div>
                  <button (click)="doubleShifts[i] = true" *ngIf="!doubleShifts[i]" mat-icon-button>
                    <img alt="" src="../../../../../../../assets/images/icons/plus-circle.svg" />
                  </button>
                </div>

                <div *ngIf="doubleShifts[i]" class="mt-16" fxLayout="row">
                  <div
                    class="o-h-t-content"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="1px"
                  >
                    <div class="opening-hour-time">
                      <div appearance="fill" class="w-100-p">
                        <select formControlName="From2" required value="01:00">
                          <ng-container *ngFor="let opt of times">
                            <option *ngIf="form.controls['OpeningTimes'].get([i])?.get('To1')?.value < opt"
                                    [value]="opt">
                              <div>{{opt}}</div>
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <div class="opening-h-to">
                      <p class="mb-0">to</p>
                    </div>
                    <div class="opening-hour-time">
                      <div appearance="fill" class="w-100-p">
                        <select formControlName="To2" required>
                          <ng-container *ngFor="let opt of times">
                            <option *ngIf="form.controls['OpeningTimes'].get([i])?.get('From2')?.value < opt"
                                    [value]="opt">
                              <div>{{opt}}</div>
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </div>
                  <button (click)="doubleShifts[i] = false" mat-icon-button>
                    <img alt="" src="../../../../../../../assets/images/icons/minus-circle.svg" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="daysSelected !== 0" fxFlex="35%">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button (click)="copyToAll()" color="primary" mat-button>
              <img alt="" class="mr-12" src="../../../../../../../assets/images/icons/copy.svg" />Copy to
              All
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

